# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/
ENV/

# IDE files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# ML models
*.pkl
